@import "tailwindcss";

@theme {
  --color-wildfire-red: #FF4B4B;
  --color-wildfire-dark: #1E1E1E;
  --color-wildfire-light: #F0F2F6;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  /* Dark Slate */
  color: white;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}